{{>partials/header}}

<form action="/novousuario" method="POST">
    <h2> Novo Usuário </h2>
    <input type="text" name="name" placeholder=" Digite um nome"<br>
    <input type="text" name="age" placeholder="Digite sua idade"<br>
    <input type="submit" value="Inserir Usuario">
</form>

<h2> Usuários do banco</h2>

{{#users}}
       <li>Nome: {{name}} idade: {{age}} </li>
{{/users}}

{{>partials/footer}}