{{partials/header}}

<h1>Editar usuario</h1>

<form action="/editar/{{id}}" method="post">
    Nome: <br>
    <input type="text" name="nome" value="{{user.nome}}"> <br>
    Email: <br>
    <input type="email" name="email" value="{{user.email}}" <br> <br>
    <input type="submit" value="Editar">

</form>

<a href="/usuarios">Clique aqui</a> para voltar a página de usuarios

{{partials/footer}}